[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
infi-clickhouse-orm = "*"
flask = "*"
flask-restful = "*"
flask-cors = "*"
gunicorn = "*"
gql = "*"
pandas = "*"
apscheduler = "*"

[requires]
python_version = "3.6"
